@import "@ace/ui/css";
@source "./**/*.{ts,tsx}";

html,
body {
	block-size: 100%;
	background: transparent;
	overscroll-behavior: none;
	overflow: hidden;
}

body {
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}

#root {
	block-size: 100%;
	inline-size: 100%;
}
